{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% load account_tags %}
{% block style %}




{% endblock %}



{% block content %}
    <h6 class="heading_b uk-margin-bottom">My Pledges</h6>



    <div class="uk-width-xLarge-1-1">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-overflow-container" id='print'>
                    <center><span class="uk-text-success uk-text-bold">{{ data.object_list | length }} records</span></center>
                    <table class="uk-table uk-table-hover uk-table-condensed uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair"
                           id="ts_pager_filter">
                        <thead>

                        <th>No</th>
                        <th>Transaction Code</th>
                        <th>Pledge Marker</th>
                        <th>Date of pledge</th>
                        <th>Amount Pledged</th>
                        <th>Payment Maturity</th>
                        <th>Expected Earnings</th>

                        <th>Status</th>


                        </thead>
                        <tbody>
                        {% for record in data %}

                            <tr>
                                <td> {{ forloop.counter }} {# starting index 1 #}</td>
                                <td>{{ record.transaction_code }}</td>

                                <td>{{ record.pledge_maker_id.firstname}} {{record.pledge_maker_id.lastname}}</td>
                                <td>{{ record.created_at|timesince }} ago</td>
                                <td>{{ record.pledged_amount }}</td>
                                <td>{{ record.maturity_date }}</td>
                                <td>{{ record.pledged_amount }}</td>

                                <td>{{ record.status }}</td>

                            </tr>
                        {% endfor %}


                        </tbody>

                    </table>

                </div>
                {% if users.has_other_pages %}
                    <ul class="uk-pagination">
                        {% if data.has_previous %}
                            <li><a href="?page={{ data.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in data.paginator.page_range %}
                            {% if data.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if data.has_next %}
                            <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            <div class="md-fab-wrapper">
                <a class="md-fab md-fab-small md-fab-accent md-fab-wave" href="{% url 'pledge' %}">
                    <i class="material-icons md-18">&#xE145;</i>
                </a>
            </div>
        </div>
    </div>




{% endblock %}
{% block js %}
<script>
        $(document).ready(function() {
            $('table').DataTable();
        } );
    </script>

{% endblock %}