{% extends "base.html" %}
{% load staticfiles%}
{% load humanize%}

{% load account_tags %}
{% block style %}
 <link rel="stylesheet" href="{% static 'assets/plugins/weather-icons/css/weather-icons.min.css' %}" media="all">
        <!-- metrics graphics (charts) -->
        <link rel="stylesheet" href="{% static 'assets/plugins/metrics-graphics/dist/metricsgraphics.css' %}">
        <!-- chartist -->
        <link rel="stylesheet" href="{% static 'assets/plugins/chartist/dist/chartist.min.css' %}">


{% endblock %}

{% block content %}









         <div class="uk-grid uk-grid-width-large-1-4 uk-grid-width-medium-1-2 uk-grid-medium uk-sortable ">
                 <div>
                    <div class="md-card">
                        <div class="md-card-content">
                            <div class="uk-float-right uk-margin-top uk-margin-small-right"><span class=""><i class="sidebar-menu-icon material-icons md-36">access_time</i></span></div>
                            <span class="uk-text-bold uk-text-small">Last Visit</span>
                            <h5 class="uk-margin-remove"><span class="uk-text-small uk-text-success">  {{ request.user.last_login|naturaltime|capfirst }}</span></h5>
                        </div>
                    </div>
                </div>
                  <div>
                    <div class="md-card">
                        <div class="md-card-content">
                            <div class="uk-float-right uk-margin-top uk-margin-small-right"><span class=" "><i class="sidebar-menu-icon material-icons md-36">account_balance</i></span></div>
                            <span class="uk-text-muted uk-text-small">Total Pledges </span></span><br/>
                            <span class="uk-text-muted uk-text-small">  <span class="uk-text-bold uk-text-danger ">{{ pledges.id__count }} </span></span><br/>
                           </div>
                    </div>
                </div>


                <div>
                    <div class="md-card">
                        <div class="md-card-content">
                         <div class="uk-float-right uk-margin-top uk-margin-small-right"><span class=""><i class="sidebar-menu-icon material-icons md-36">event_note</i></span></div>
                            <span class="uk-text-muted uk-text-small">Coins in wallet</span>
                            <h5 class="uk-margin-remove"><span class="uk-text-small uk-text-success ">{{ coins.amount__sum }}</span></h5>
                        </div>
                    </div>
                </div>

             <div>
                    <div class="md-card">
                        <div class="md-card-content">
                         <div class="uk-float-right uk-margin-top uk-margin-small-right"><span class=""><i class="sidebar-menu-icon material-icons md-36">event_note</i></span></div>
                            <span class="uk-text-muted uk-text-small">Total Matches</span>
                            <h5 class="uk-margin-remove"><span class="uk-text-small uk-text-success "> {{ matches.id__count }} </span></h5>
                        </div>
                    </div>
                </div>


            </div>







            <!-- tasks -->
            <div class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'.md-card-content'}">
                 <!--<div class="uk-width-medium-1-2">
                    <div class="md-card">
                        <div class="md-card-content">
                            <h3 class="heading_a uk-margin-bottom">Statistics</h3>
                            <div id="ct-chart" class="chartist"></div>
                        </div>
                    </div>
                </div>-->
                <div class="uk-width-medium-1-2">
                    <div class="md-card">
                        <div class="md-card-content">

                            <p>
                                Referral Link (copy and paste this link on whatsapp or facebook and win 25 point<br/> free when someone pledge through the link
                                <br/>
                                <a href="http://payitgh.com/how_it_works.php?referral=1&tg={{request.user.id}}"> http://payitgh.com/how_it_works.php?referral=1&tg={{request.user.id}}</a>
                            </p>
                            <h3 class="heading_a uk-margin-bottom">Coins prices at PayitGH</h3>
                            <div id="ct-chart" class="chartist">

                                <table class="uk-table">
                                    <thead>
                                    <th>No.</th>
                                    <th>Coins</th>
                                    <th>Amount</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>50</td>
                                            <td>GHS10.00</td>
                                        </tr>
                                    <tr>
                                            <td>2</td>
                                            <td>100</td>
                                            <td>GHS20.00</td>
                                        </tr>
                                    </tbody>
                               <A href="http://payitgh.com/coinpay/"> <button class="md-btn md-btn-primary">BUY COINS</button></A>
                                <p>
                                <A href="http://payitgh.com/coinpay/coinpics/"> <button class="md-btn md-btn-success">UPLOAD PAYMENT</button></A>
                                </p>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>









{% endblock %}
{% block js %}

        <script src="{% static 'assets/plugins/d3/d3.min.js' %}"></script>
        <!-- metrics graphics (charts) -->
        <script src="{% static 'assets/plugins/metrics-graphics/dist/metricsgraphics.min.js' %}"></script>
        <!-- chartist (charts) -->
       <!-- <script src="{% static 'assets/plugins/chartist/dist/chartist.min.js' %}"></script>-->
        <!-- maplace (google maps) -->
          <script src="{% static 'assets/plugins/maplace-js/dist/maplace.min.js' %}"></script>
        <!-- peity (small charts) -->
        <script src="{% static 'assets/plugins/peity/jquery.peity.min.js' %}"></script>
        <!-- easy-pie-chart (circular statistics) -->
        <script src="{% static 'assets/plugins/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js' %}"></script>
        <!-- countUp -->
        <script src="{% static 'assets/plugins/countUp.js/dist/countUp.min.js' %}"></script>
        <!-- handlebars.js -->
        <script src="{% static 'assets/plugins/handlebars/handlebars.min.js' %}"></script>
        <script src="{% static 'assets/js/custom/handlebars_helpers.min.js' %}"></script>
        <!-- CLNDR -->
        <script src="{% static 'assets/plugins/clndr/clndr.min.js' %}"></script>
        <!-- fitvids -->
        <script src="{% static 'assets/plugins/fitvids/jquery.fitvids.js' %}"></script>

        <!--  dashbord functions -->
        <script src="{% static 'assets/js/pages/dashboard.min.js' %}"></script>
{% endblock %}