{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% load account_tags %}
{% block style %}




    {% endblock %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


{% block content %}
    <h6 class="heading_b uk-margin-bottom">Update your profile</h6>
    <div class="uk-width-xLarge-1-10">
        <div class="md-card">

            <form novalidate id="wizard_advanced_form" class="uk-form-stacked"   method="post"
                  accept-charset="utf-8" name="updateForm" v-form>
                {% csrf_token %}

                <div data-uk-observe="" id="wizard_advanced" role="application" class="wizard clearfix">
                    <div class="steps clearfix">
                        <ul role="tablist">
                            <li role="tab" class="fill_form_header first current" aria-disabled="false"
                                aria-selected="true" v-bind:class="{ 'error' : !in_payment_section}">
                                <a aria-controls="wizard_advanced-p-0" href="#wizard_advanced-h-0"
                                   id="wizard_advanced-t-0">
                                    <span class="current-info audible">current step: </span><span
                                        class="number">1</span> <span class="title">Client Info Update</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class=" clearfix "
                         style="box-sizing: border-box;display: block;padding:15px!important;position: relative;">

                        <section id="fill_form_section" role="tabpanel" aria-labelledby="fill form section"
                                 class="body step-0 current" data-step="0" aria-hidden="false"
                                 v-bind:class="{'uk-hidden': in_payment_section} ">


                            <div data-uk-grid-margin=""
                                 class="uk-grid uk-grid-width-medium-1-4 uk-grid-width-large-1-4">


                                <div class="parsley-row">
                                    <div class="uk-input-group">

                                        <div class="md-input-wrapper md-input-filled"><label for="wizard_referer">First
                                            Name</label><input type="text" id="firstname" required name="firstname"
                                                               class="md-input" v-model="firstname" v-form-ctrl><span
                                                class="md-input-bar"></span></div>

                                        <p class=" uk-text-danger uk-text-small  "
                                           v-if="updateForm.firstname.$error.required">Please provide your firstname</p>

                                    </div>
                                </div>

                                <div class="parsley-row">
                                    <div class="uk-input-group">

                                        <div class="md-input-wrapper md-input-filled"><label for="wizard_referer">Last
                                            Name :</label><input type="text" id="lastname" name="lastname"
                                                                 class="md-input" required="required" v-model="lastname"
                                                                 v-form-ctrl><span class="md-input-bar"></span></div>
                                        <p class=" uk-text-danger uk-text-small  "
                                           v-if="updateForm.lastname.$error.required">Please enter your surname</p>
                                    </div>
                                </div>

                                <div class="parsley-row">
                                    <div class="uk-input-group">

                                        <div class="md-input-wrapper md-input-filled"><label for="wizard_skype">Gender
                                            :</label>
                                            <p></p>
                                            <select class="md-input" name="gender" id="gender"  >
                                                <option value="">select gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>

                                            <span class="md-input-bar"></span>

                                        </div>

                                    </div>
                                </div>


                            </div>


                            <div data-uk-grid-margin=""
                                 class="uk-grid uk-grid-width-medium-1-4 uk-grid-width-large-1-4">

                                <div class="parsley-row">
                                    <div class="uk-input-group">

                                        <div class="md-input-wrapper md-input-filled"><label for="wizard_referer">Phone
                                            N<u>o</u> :</label><input type="text" id="phone" name="phone"
                                                                      class="md-input" data-parsley-type="digits"
                                                                      minlength="10" required="required" maxlength="10"
                                                                      pattern='^[0-9]{10}$' v-model="phone" v-form-ctrl><span
                                                class="md-input-bar"></span></div>
                                        <p class=" uk-text-danger uk-text-small  " v-if="updateForm.phone.$invalid">
                                            Please enter a valid phone number of 10 digits</p>
                                    </div>
                                </div>


                                <div class="parsley-row">
                                    <div class="uk-input-group">

                                        <div class="md-input-wrapper md-input-filled"><label for="wizard_referer">Mobile
                                            Money Number N<u>o</u> :</label><input type="text" id="mobile_money_phone"
                                                                                   name="mobile_money_phone"
                                                                                   class="md-input"
                                                                                   data-parsley-type="digits"
                                                                                   minlength="10" required="required"
                                                                                   maxlength="10" pattern='^[0-9]{10}$'
                                                                                   v-model="mobile_money_phone"
                                                                                   v-form-ctrl><span
                                                class="md-input-bar"></span></div>
                                        <p class=" uk-text-danger uk-text-small  "
                                           v-if="updateForm.mobile_money_phone.$invalid">Please enter a valid phone
                                            number of 10 digits</p>
                                    </div>
                                </div>

                                <div class="parsley-row">
                                    <div class="uk-input-group">

                                        <div class="md-input-wrapper md-input-filled"><label for="wizard_referer">Mobile
                                            Money Name :</label><input type="text" id="mobile_money_name"
                                                                       name="mobile_money_name" class="md-input"
                                                                       required="required" v-model="mobile_money_name"
                                                                       v-form-ctrl><span class="md-input-bar"></span>
                                        </div>
                                        <p class=" uk-text-danger uk-text-small  "
                                           v-if="updateForm.mobile_money_name.$error.required">Please provide mobile
                                            money name</p>
                                    </div>
                                </div>


                            </div>
                              <div data-uk-grid-margin=""
                                     class="uk-grid uk-grid-width-medium-1-4 uk-grid-width-large-1-4">


                                    <div class="parsley-row">
                                        <div class="uk-input-group">

                                            <div class="md-input-wrapper md-input-filled"><label for="wizard_email">Email
                                                :</label><input type="email" id="email" name="email" class="md-input"
                                                                v-model="email" v-form-ctrl><span
                                                    class="md-input-bar"></span></div>
                                            <p class="uk-text-danger uk-text-small " v-if="updateForm.email.$invalid">
                                                Please enter a valid email address</p>

                                        </div>
                                    </div>

                                    <div class="parsley-row">
                                        <div class="uk-input-group">

                                            <div class="md-input-wrapper md-input-filled"><label for="wizard_email">﻿Referrer
                                                :</label><input type="text" id="referrer" v-model="referrer" v-form-ctrl name="referrer"
                                                                class="md-input"><span class="md-input-bar"></span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="parsley-row">
                                        <div class="uk-input-group">

                                            <div class="md-input-wrapper md-input-filled"><label for="wizard_email">Address
                                                :</label><input type="text" id="address" v-model="address"  name="address"
                                                                class="md-input"><span class="md-input-bar"></span>
                                            </div>

                                        </div>
                                    </div>


                                </div>


                            <input type="hidden" value="{{user.id}}" name="user_id_id"/>
                        </section>



                    </div>
                    {% if not client.address %}
                        <div class="actions clearfix ">
                            <ul aria-label="Pagination" role="menu">

                                <li class="button_finish " aria-hidden="true"
                                    v-show="updateForm.$valid">
                                    <input class="md-btn md-btn-primary uk-margin-small-top" type="submit"
                                           name="submit_order" value="Save" v-on:click="submit_form"/>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </form>


            <div class="uk-modal" id="confirm_modal">
                <div class="uk-modal-dialog" v-el:confirm_modal>
                    <div class="uk-modal-header uk-text-large uk-text-success uk-text-center">Confirm Data</div>
                    Are you certain of all the info

                </div>
            </div>
        </div>

    </div>



    </div>








{% endblock %}
{% block js %}

    <script>
        $(document).ready(function () {
            $('select').select2({width: "resolve"});


        });


    </script>
    <script>


        //code for ensuring vuejs can work with select2 select boxes
        Vue.directive('select', {
            twoWay: true,
            priority: 1000,
            params: ['options'],
            bind: function () {
                var self = this
                $(this.el)
                    .select2({
                        data: this.params.options,
                        width: "resolve"
                    })
                    .on('change', function () {
                        self.vm.$set(this.name, this.value)
                        Vue.set(self.vm.$data, this.name, this.value)
                    })
            },
            update: function (newValue, oldValue) {
                $(this.el).val(newValue).trigger('change')
            },
            unbind: function () {
                $(this.el).off().select2('destroy')
            }
        })


        var vm = new Vue({
            el: "body",
            ready: function () {
            },
            data: {
                firstname: "{{client.firstname }}",
                lastname: "{{client.lastname }}",
                phone: "0{{client.phone }}",
                gender: "{{client.gender }}",
                address: "{{client.address }}",
                referrer: "{{client.referrer }}",
                email: "{{client.email }}",
                mobile_money_phone: "0{{client.mobile_money_phone }}",
                mobile_money_name: "{{client.mobile_money_name}}",

                options: []

            },
        })

    </script>
{% endblock %}